<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Recursive&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Galaxy Home</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="assets/images/galaxy_logo.png" alt="Galaxy logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/book"><button type="submit" class="btn btn-primary"
                                    id="button">Book
                                    Your
                                    Trip!</button></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact"><button type="submit" class="btn btn-primary"
                                    id="button">Contact the
                                    Team</button></a>
                        </li>
                        <li><img class="socialmedia" src="assets/images/instagram logo.jpg" alt="Instagram logo"></li>
                        <li><img class="socialmedia" src="assets/images/facebook.jpg" alt="Facebook logo"></li>
                        <li><img class="socialmedia" src="assets/images/twitter.png" alt="Twitter logo"></li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {{{ body }}}



    <footer>
        <nav class=“navbar fixed-bottom navbar-dark bg-dark”>
            <div class=“container-fluid”>
                <a class=“navbar-brand” href=“https://github.com/blairntaylor” target=“_blank”>blairntaylor
                    <link rel=“stylesheet” href=“”>
                    <a class=“navbar-brand” href=“https://github.com/gsonnier333” target=“_blank”>gsonnier333
                        <link rel=“stylesheet” href=“”>
                        <a class=“navbar-brand” href=“https://github.com/seff0” target=“_blank”>seffO
                            <link rel=“stylesheet” href=“”>
                            <a class=“navbar-brand” href=“https://github.com/mfranl” target=“_blank”>mfranl
                                <link rel=“stylesheet” href=“”>
                            </a>
            </div>
        </nav>
    </footer>
</body>

</html>