<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="./index.html"><img src="/assets/images/galaxy_logo.png" alt="Galaxy logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"><button type="submit" class="btn btn-primary" id="button">Book Your
                            Trip!</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><button type="submit" class="btn btn-primary" id="button">Contact the
                            Team</button></a>
                </li>
                <li><img class="socialmedia" src="/assets/images/instagram logo.jpg" alt="Instagram logo"></li>
                <li><img class="socialmedia" src="/assets/images/facebook.jpg" alt="Facebook logo"></li>
                <li><img class="socialmedia" src="/assets/images/twitter.png" alt="Twitter logo"></li>

            </ul>
        </div>
    </div>
</nav>
<div class="content-contact">
    <form action=”mailto:contact@yourdomain.com”>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Name</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Your name">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" placeholder="Your city">
            </div>
            <div class="form-group col-md-6">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-12">
                <label for="formGroupExampleInput2">Message</label>
                <input type="text" rows="6" class="form-control" id="formGroupExampleInput2"
                    placeholder="Leave your message here">
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
    </form>
</div>