<div class="content-end">
    <table>
        <tr>
            <th>
                <p>
                <h1>Thank you for visiting Galaxy Getaway!</h1>
                <br>
                <h2>We hope you enjoyed you experience and learning all about the galaxy and its stars. Please check
                    back frequently for additional locations added.</h2>
                <br>
                <h1>We appreciate your business!</h1>
                </p>
            </th>

            <th>
                <a class="nav-link" href="#"><button type="submit" class="btn btn-primary" id="button">Book Another
                        Trip</button></a>
                <a class="nav-link" href="#"><button type="submit" class="btn btn-primary" id="button">Your Favorites
                        Team</button></a>
                <a class="nav-link" href="#"><button type="submit" class="btn btn-primary" id="button">Contact the
                        Team</button></a>
                <a class="nav-link" href="#"><button type="submit" class="btn btn-primary" id="button">Email your
                        Friends</button></a>
            </th>
        </tr>
    </table>
</div>