<div class="container">
    <div class="divider">
        <h1>YOUR FAVORITE SPACE LOCATIONS</h1>
    </div>
    <div class="row">
        {{!-- for each site selected should populate on the trip page --}}

        {{#each destination}}
        {{> fav/fav-block}}
        {{/each}}

    </div>
    <br>
    <div class="btnhelper">
        <a href="/book">
            <button class="btn btn-primary">Book another trip</button>
        </a>
    </div>
</div>