<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="./index.html"><img src="/assets/images/galaxy_logo.png" alt="Galaxy logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"><button type="submit" class="btn btn-primary" id="button">Book Your
                            Trip!</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><button type="submit" class="btn btn-primary" id="button">Contact the
                            Team</button></a>
                </li>
                <li><img class="socialmedia" src="/assets/images/logo.jpg" alt="Instagram logo"></li>
                <li><img class="socialmedia" src="/assets/images/facebook.jpg" alt="Facebook logo"></li>
                <li><img class="socialmedia" src="/assets/images/twitter.png" alt="Twitter logo"></li>

            </ul>
        </div>
    </div>
</nav>
<div class="favorites">
    <div class="divider">
        <h1>WELCOME, name YOUR FAVORITE SPACE LOCATIONS</h1>
        <div class="container">
            <div class="cards">

            </div>
            <div class"review">

            </div>
        </div>
    </div>
</div>