<div class="favorites">
    <div class="divider">
        <h1>YOUR FAVORITE SPACE LOCATIONS</h1>
        <div class="container">
            <div class="row">
                {{#each destination}}
                {{> dest/dest-block}}
                {{/each}}
            </div>
        </div>
    </div>
</div>