<img class="logo" src="assets/images/galaxy_logo.png" alt="" />
<br />

<p>Choose the sites you'd like to visit!</p>

<div class="container">
    <div class="row">
        {{#each destination}}
        {{> dest/dest-block}}
        {{/each}}
    </div>
    <br />
</div>

<form class="container center_div" id="bookForm">
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
            placeholder="Enter email" />
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" />
    </div>
    <br />
    <div class="btnhelper">
        <button type="submit" class="btn btn-primary" id="bookBtn">Book Your Trip!</button>
    </div>
    <br />
</form>
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Footer</a>
        </div>
    </nav>
</footer>


<script src="js/book.js"></script>