<div class="container">
    <div class="row">
        <h1>Your Getaway Galaxy trip!</h1>
    </div>
    <div class="row">
        {{!-- for each site selected should populate on the trip page --}}

        {{#each destination}}
        {{> trip/trip-block}}
        {{/each}}

    </div>

    {{!-- <footer>
        <nav class="navbar fixed-bottom navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Footer</a>
            </div>
        </nav>
    </footer> --}}
</div>