body {
    background-image: url(https://images.unsplash.com/photo-1464802686167-b939a6910659?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1466&q=80);
}

.radio {
    color: purple;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

.container {
    color: goldenrod;
    opacity: .8;
}

.card {
    background-color: gray;
}


.center_div {
    margin: 0 auto;
    width: 60%
        /* value of your choice which suits your alignment */
}

.btnhelper {
    text-align: center;
}