body {
    background-image: url(https://images.unsplash.com/photo-1487925876428-ebd8a23ee1d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1129&q=80);
    font-family: 'DotGothic16',
    sans-serif;
}


.card-img-top {
    width: 285px;
    height: 250px;
}

.logo {
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 60px;

}

.container {
    color: white;
    opacity: .8;
    float: none;
}

.card {
    background-color: gray;
}


.center_div {
    margin: 0 auto;
    width: 60%
        /* value of your choice which suits your alignment */
}

.btnhelper {
    text-align: center;
    padding-bottom: 50px;
}

a {
    color: white;
}
