<div class="col-lg-4 d-flex align-items-stretch">
    <div class="card" style="width: 18rem; height: 30rem" data-id="{{id}}">
        <img src="{{img_link}}" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">
                <a href="https://en.wikipedia.org/wiki/Stephenson_2-18" target="_blank">Read More</a>
            </p>
            <input type="radio" data-id="{{this.id}}" />
            <label for="add">Add to Itinerary</label>
        </div>
    </div>
</div>